doctype html
html
  head
    title What-are-we-doing-here-meter!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/gauge.min.js')
    script(type='text/javascript' src='/javascripts/wawdhgauge.js')
